.nav-link{
    color: white;
}

.nav-link:hover{
    color: white;
}

header h2{
    color: white;
}

.nav-link.active {
    background-color: white !important;
    border-color: white !important;
    color: black !important; 
  }

#customerTableBody tr:hover {
    cursor: pointer;
}

header{
    background-color: rgba(0, 0, 0, 0.1);
}
  